<div class="container px-4">
  <div class="col my-5 my-lg-3">
    <p class="green my-3">Hello, my name is</p>
    <h1 class="inter">Manikandan.</h1>
    <h1 class="inter-grey my-4 mt-0">I build responsive websites.</h1>
    <div class="col-12 col-lg-6">
      <p class="inter-grey ft-14">
        I am an enthusiastic <span class="green">software engineer</span> who
        believe in creating products using new technologies that will shape the
        future of the world. Currently I'am working on human-centered products
        at <span class="green">BetterAnalytics</span>
      </p>
    </div>
  </div>
</div>
