<div class="container vh-100">
  <div class="row">
    <div class="col-8">
      <div class="d-flex flex-row align-items-center">
        <div class="flex-column">
            <p class="green h4 m-0 p-0">01.</p>
        </div>
        <div class="flex-column mx-3">
            <h1 class="page-title inter">About me</h1>
        </div>
      </div>
      <div class="row">
        <p class="inter-grey-para ">Hello! My name is Brittany and I enjoy creating things that live on the internet. My interest in web development started back in 2012 when I decided to try editing custom Tumblr themes — turns out hacking together a custom reblog button taught me a lot about HTML & CSS!</p>
        <p class="inter-grey-para ">Fast-forward to today, and I’ve had the privilege of working at an advertising agency, a start-up, a huge corporation, and a student-led design studio. My main focus these days is building accessible, inclusive products and digital experiences at Upstatement for a variety of clients.</p>
      </div>
    </div>
  </div>
</div>
