<div class="col h100">
  <div class="float-end p-3 d-flex align-items-baseline">
    <div class="px-3 d-flex align-items-center">
        <div><p class="green">01.</p></div>
        <div><p class="mono">About</p></div>
    </div>
    <div class="px-3 d-flex">
        <div><p class="green">02.</p></div>
        <div><p class="mono">Experience</p></div>
    </div>
    <div class="px-3 d-flex ">
        <div><p class="green">03.</p></div>
        <div><p class="mono">Work</p></div>
    </div>
    <div class="px-3 d-flex ">
        <button class="btn green">Contact</button>
    </div>
</div>
