<div class="container  d-flex align-items-center justify-content-center">
    <div class="col-7">
        <div class="d-flex flex-row">
            <div class="flex-col d-flex align-items-center">
                <p class="green h4 text-center">02.</p>
            </div>
            <div class="flex-column ">
                <p class="inter ft-18">Where I’ve Worked</p>
            </div>
        </div>
        <div class="row mt-5">
            <p class="inter ft-24 mb-0"> Engineer <span class="inter color-green ft-24">@ Better Analytics</span></p>
            <p class="mono">Febraury-2022 to present</p>
            <p class="inter-grey ft-14">Write modern, performant, maintainable code for a diverse array of client and internal projects</p>
        </div>
    </div>
</div>
