<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="col-8 text-center">
    <div class="row">
      <h1 class="inter title">Get In Touch</h1>
    </div>
    <div class="row mt-3">
      <p class="inter-grey desc">
        Although I’m not currently looking for any new opportunities, my inbox
        is always open. Whether you have a question or just want to say hi, I’ll
        try my best to get back to you!
      </p>
    </div>
    <div class="row d-flex justify-content-center mt-5">
      <button class="btn w-auto h-auto px-4 py-3">Say Hello</button>
    </div>
  </div>
</div>
